{% extends 'base.html' %}
{% load staticfiles %}    
{% block body %}
    <div class="jumbotron">
       <section class="google_map">
				<iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3730.210831962812!2d-51.67459098507135!3d-20.78275678613216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9490a290047da60f%3A0xa6d4d559faef2af9!2sRoma+S%C3%A3o+Marcos!5e0!3m2!1spt-BR!2sbr!4v1530793153659"></iframe>
			</section>
			<section class="header_text sub">
				<h4><span>Contato</span></h4>
			</section>
			<section class="main-content">				
				<div class="row">				
					<div class="span5">
						<div>
							<h5>MAIS INSFORMACOES</h5>
							<p><strong>Fone:</strong>&nbsp;(67) 3521-0646 / (67) 99631-1112 / (67) 99181-4436<br>
							<strong>Email:</strong>&nbsp;<a href="#">atendimento@saomarcossa.com.br</a>								
							</p>
						</div>
					</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="span8">
						<p>Para tirar suas duvidas deixa uma mensagem que respoderemos o mais rapido possivel.</p>
						<form method="post" action="#">
							<fieldset>
								<div class="clearfix">
									<label for="name"><span>Nome:</span></label>
									<div class="input">
										<input tabindex="1" size="18" id="name" name="nome" type="text" value="" class="form-control" placeholder="Nome">
									</div>
								</div>
								
								<div class="clearfix">
									<label for="email"><span>Email:</span></label>
									<div class="input">
										<input tabindex="2" size="25" id="email" name="email" type="text" value="" class="form-control" placeholder="Email ">
									</div>
								</div>
								
								<div class="clearfix">
									<label for="message"><span>Mensagem:</span></label>
									<div class="input">
										<textarea tabindex="3" class="form-control" id="message" name="msg" rows="7" placeholder="Mensage"></textarea>
									</div>
								</div>
								<br />
								<div class="actions">
									<button tabindex="3" type="submit" class="btn btn-primary fundo">Enviar</button>
								</div>
							</fieldset>
						</form>
					</div>				
				</div>
			</section>	
    </div>
{% endblock %}