{% extends 'base.html' %}
{% load staticfiles %}    
{% block body %}
    <div class="jumbotron">
        <div style="display:flex;">
            <img src="{% static '/img/logo.png' %}"alt="Sao Marcos" height="130" width="130" /> 
            <p style="padding-top: 35px; padding-left:10px;">Fundada no ano de 1982 na cidade de Brasilandia - MS a empresa Sao Marcos Serviços Agricolas<br />
            tem como principal atividade atuar no ramo de prestacao de servicos agricolas, <br />
            silvicultura, locacao de equipamentos e transportes rodoviarios em geral.</p>
        </div>
        <div class="float-right;" style="display:flex;">

        </div>
    </div>
{% endblock %}